absl-py==0.7.0
args==0.1.0
asn1crypto==0.24.0
astor==0.7.1
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
click==6.7
clint==0.5.1
contextlib2==0.5.5
cryptography==2.5
cycler==0.10.0
Cython==0.29.5
floyd-cli==0.11.17
gast==0.2.2
grpcio==1.16.0
h5py==2.8.0
idna==2.8
imutils==0.5.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
marshmallow==2.15.0
matplotlib==2.2.2
mkl-fft==1.0.10
mkl-random==1.0.2
numpy==1.15.4
object-detection==0.1
pandas==0.24.1
pathlib2==2.3.3
Pillow==9.3.0
protobuf==3.6.1
pycocotools==2.0
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
raven==6.10.0
requests==2.21.0
requests-toolbelt==0.9.1
scipy==1.1.0
six==1.12.0
slim==0.1
tabulate==0.8.3
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
tornado==5.1.1
tqdm==4.31.1
urllib3==1.24.1
Werkzeug==0.14.1
